
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.box{
    height: 600px;
    width: 600px;
    position: relative;

}
.img{
    height: 80%;
    width: 100%;
    overflow: hidden;
    object-fit: fill;


}
.text{
    height: 80%;
    width: 100%;
    opacity: .3;
    position: absolute;
    left: 0;

    background-color: rgb(0, 0, 0);
    color: red;
    transition: 1s;



}

.box :hover.text{
    color: white;
    background-color: black;
    top: 0;

    

    
}
.heading{
    height: 20%;
    color: red;
    display: block;
}